// ee updated styling for links, buttons, inputs, background
.new-ee-link {
    color: $ee-blue;
}

.new-ee-background {
    background: $ee-blue-lightest;
}

.new-ee-button {
    color: white !important;
    display: inline-block;
    padding: 0px 40px !important;
    line-height: 2.6 !important;
    background: $ee-blue !important;
    border: 0 !important;
    border-radius: 0 !important;
    transition: all 0.3s ease 0s !important;
    box-shadow: none !important;
    font-family: $source-sans-pro !important;
    font-weight: 400 !important;
    font-size: 14px;
    right: 0 !important;
    margin-bottom: 0 !important;
    &:hover,
    &:active {
        background: $ee-blue-lighter !important;
        box-shadow: none !important;
    }
}

.new-ee-input {
    font-family: $source-sans-pro;
    background: $ee-blue-lightest;
    border: 0px;
    box-shadow: none;
    color: black;
    padding: 10px;
    font-size: 14px;
    height: 40px;
    &::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: $ee-blue;
    }
    &:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: $ee-blue;
        opacity: 1;
    }
    &::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: $ee-blue;
        opacity: 1;
    }
    &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $ee-blue;
    }
    &:focus {
        border-color: $ee-blue-lighter;
        box-shadow: 0 0 6px 0 $ee-blue-lightest, inset 0 0 4px 0 $ee-blue-lightest;
    }
}

// general css rules for this page
section.idash-section#student_admin,
section.idash-section#course_info,
section.idash-section#cohort_management,
section.idash-section#membership,
section.idash-section#data_download {
    *:not(i):not(h1):not(h3):not(h4):not(code) {
        font-family: $source-sans-pro !important;
    }
    h3 {
        text-transform: capitalize;
        font-size: 24px !important;
        margin: 20px 0 10px;
        font-weight: normal;
    }
    input[type="text"],
    textarea {
        @extend .new-ee-input;
    }
    input[type="button"] {
        @extend .new-ee-button;
    }
    a {
        @extend .new-ee-link;
    }
    button {
        @extend .new-ee-button;
    }
}

// instructor-left-nav
.instructor-left-nav {
    .instructor-nav {
        margin: 0;
        padding: 0;
        list-style: none;
        .nav-item {
            position: relative;
            font-size: 20px;
            font-family: $source-sans-pro;
            display: block;
            a {
                color: black;
                display: block;
                padding: 15px;
                box-sizing: border-box;
            }
            i {
                display: inline-block;
                position: absolute;
                color: white;
                right: 15px;
            }
            &.active {
                background: $ee-blue;
                a {
                    color: white;
                }
            }
        }
    }
}

// view - student admin
// --------------------
.instructor-dashboard-wrapper-2 section.idash-section#student_admin {
    *:not(i):not(h1):not(h3):not(h4):not(code) {
        font-size: 14px;
    }
    .gradebook-link {
        @extend .new-ee-button;
        font-weight: 600 !important;
    }
    .student-gradebook {
        margin-bottom: $baseline*2;
        p+p {
            margin-top: 5px;
        }
    }
    .student-specific-container {
        .student-specific-input-button {
            @include clearfix;
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
            margin-top: ($baseline/2);
            input {
                float: left;
                display: block;
                margin-right: 2%;
                width: 64%;
            }
            .progress-link-wrapper {
                float: left;
                display: block;
                width: 34%;
            }
        }
    }
    .progress-link {
        @extend .new-ee-button;
        font-weight: 600 !important;
    }
    .request-response-error {
        padding-bottom: 0;
    }
    .student-grade-container {
        input[type="button"] {
            margin-top: -15px;
        }
        .student-specific-grade-adjustment {
            @include outer-container;
            margin-bottom: $baseline;
            .student-specific-grade-adjustment-left,
            .student-specific-grade-adjustment-right {
                @include span-columns (6);
                label {
                    @include fill-parent();
                }
                input {
                    @include fill-parent();
                }
            }
        }
    }
    .course-specific-container {
        input[type="button"] {
            margin-top: -15px;
        }
    }
}

// view - course info
// --------------------
.instructor-dashboard-wrapper-2 {
    .wrapper-msg.urgency-low.is-shown {
        background: none;
        box-shadow: none;
        padding: ($baseline/2) 0;
        a {
            @extend .new-ee-link;
        }
    }
}

.instructor-dashboard-wrapper-2 section.idash-section#course_info {
    @include outer-container;
    .basic-wrapper {
        @include span-columns(6);
        .list-input {
            list-style: none;
            padding-left: 0;
            li {
                padding: ($baseline/4) 0;
                b {
                    font-family: $source-sans-pro !important;
                    font-weight: bold;
                    padding: $baseline/4;
                    box-sizing: border-box;
                }
            }
        }
    }
    .enrollment-wrapper-and-task-container {
        @include span-columns(6);
        @include pad(0 0 0 ($baseline*2));
        box-sizing: border-box;
        .enrollment-wrapper {
            @include fill-parent();
            table tbody {
                td {
                    padding-bottom: $baseline*0.75;
                }
                td:first-child {
                    width: 100px;
                }
                td:nth-child(2) {
                    width: auto;
                }
            }
            .tip {
                margin-top: $baseline;
            }
        }
        .running-tasks-container.action-type-container {
            @include fill-parent();
            .no-pending-tasks-message {
                margin-top: 20px;
                p {
                    font-style: normal;
                }
            }
        }
    }
}

// view - cohort management
// --------------------
.instructor-dashboard-wrapper-2 section.idash-section#cohort_management {
    a {
        @extend .new-ee-link;
    }
    .cohort-management-nav {
        .cohort-select {
            padding: 5px;
        }
    }
    .cohort-management-group {
        .cohort-management-settings,
        .cohort-management-group-header {
            background: $ee-blue-lightest;
        }
    }
    .wrapper-cohort-supplemental {
        .cohort-management-supplemental {
            @extend .new-ee-background;
        }
    }
}

// view - membership
// --------------------
.instructor-dashboard-wrapper-2 section.idash-section#membership {
    .membership-section {
        @include outer-container;
        .request-res-section {
            position: relative;
            margin-top: 4.5em !important;
            padding-left: 30px;
            span {
                color: black !important;
                font-family: $source-sans-pro !important;
                font-style: normal !important;
                font-size: 14px !important;
                font-weight: 600;
            }
            .fa {
                position: absolute;
                left: 0;
                color: #df4050;
            }
        }
    }
    textarea,
    input[type="text"] {
        height: 40px;
    }
    input[type="text"] {
        width: 80% !important;
    }
    textarea {
        width: 100% !important;
    }
    .enrollment-button {
        @extend .new-ee-button;
        font-weight: 600 !important;
    }
    .enroll-option {
        margin: 10px 15px 10px 0 !important;
        float: left;
        .hint {
            width: 200px !important;
            left: 115px !important;
            z-index: 1 !important;
        }
    }
    .enroll-button-container {
        float: right;
        text-align: right;
        margin-top: 10px;
    }
    .member-lists-management {
        .wrapper-member-select {
            background-color: $ee-blue-lightest !important;
        }
        .member-list-widget {
            .bottom-bar {
                padding: 0 !important;
                border: none !important;
                background-color: transparent !important;
                box-shadow: none !important;
            }
            .info {
                padding: 0 !important;
                border: none !important;
                margin: 10px 0px !important;
                font-size: 16px !important;
            }
        }
    }
    input[type="text"].add {
        font-weight: 600 !important;
        text-shadow: none;
    }
}

section.idash-section#data_download {
    p+p {
        margin-top: 5px;
        margin-bottom: 20px;
    }
    .data-download-container,
    .reports-download-container,
    .running-tasks-container {
        margin-bottom: $baseline*2;
    }
    .reports-download-container {
        .p-has-input {
            input[type="button"] {
                margin-top: -15px;
            }
            input[type="text"] {
                margin: -6px 5px 3px;
            }
        }
        .problem-location {
            margin-bottom: 10px;
            label {
                font-family: $source-sans-pro;
                font-size: 14px;
            }
        }
    }
}
