@import '/edx/app/edxapp/edx-platform/node_modules/edx-pattern-library/node_modules/susy/sass/susy';
// //index page
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,300,400,600");
* {
    outline: 0;
}

h1 {
    font-family: "Georgia" !important;
    font-style: italic !important;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-weight: 300 !important;
    font-size: 40px !important;
    text-transform: none !important;
}

h3 {
    font-family: "Georgia" !important;
    font-style: italic !important;
    font-size: 30px !important;
}

h4 {
    font-family: "Georgia" !important;
    font-style: italic !important;
    font-size: 20px !important;
}

h5 {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-weight: 300 !important;
    font-size: 18px !important;
}

h6 {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-weight: 700 !important;
    font-size: 10px;
    text-transform: uppercase !important;
}

p {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
}

.ee-p {
    font-family: $p-font-family;
    font-size: $p-font-size;
    font-weight: $p-font-weight;
}

.ee-h1 {
    font-family: $h1-font-family;
    font-style: $h1-font-style;
    font-size: $h1-font-size;
}

.ee-h2 {
    font-family: $h2-font-family;
    font-size: $h2-font-size;
    font-weight: $h2-font-weight;
    text-transform: none !important;
}

.ee-h3 {
    font-family: $h3-font-family;
    font-style: $h3-font-style;
    font-size: $h3-font-size;
}

.ee-h4 {
    font-family: $h4-font-family;
    font-size: $h4-font-size;
    font-style: $h4-font-style;
}

.ee-h5 {
    font-family: $h5-font-family;
    font-weight: $h5-font-weight;
    font-size: $h5-font-size;
}

.ee-h6 {
    font-family: $h6-font-family;
    font-weight: $h6-font-weight;
    font-size: $h6-font-size;
    text-transform: uppercase !important;
}

body {
    background: url("../images/course-search-bigger.jpg") no-repeat center center fixed !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header.global {
    border-bottom: none !important;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.3) !important;
    height: 94px !important;
}

.nav-global {
    margin-top: 42px !important;
    li {
        text-transform: capitalize !important;
        font-size: 16px !important;
        a {
            color: black !important;
        }
        &:hover {
            a {
                color: $ee-green !important;
            }
            border-bottom: 8px solid $ee-green;
        }
    }
}

.wrapper.wrapper-footer {
    background: $footer-bg;
    margin-top: 0 !important;
    border-top: none !important;
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
    #footer-openedx {
        @include outer-container;
        .colophon1 {
            @include span-columns(4);
            @media screen and (max-width: 768px) {
                @include fill-parent();
                margin-left: $baseline;
            }
        }
        .nav-colophon {
            @include span-columns(4);
            @include pad(0 0 0 ($baseline*2.5));
            box-sizing: border-box;
            margin-left: 4.35765% !important;
            .copyright {
                color: $white !important;
                text-align: center;
            }
            ol {
                text-align: center;
                margin-bottom: $baseline;
                li {
                    display: inline;
                    margin-right: $baseline;
                    a {
                        color: white !important;
                    }
                }
            }
            @media screen and (max-width: 768px) {
                @include fill-parent();
                padding-left: 0;
                .copyright {
                    text-align: left;
                    margin-left: $baseline;
                }
                ol {
                    text-align: left;
                    margin-left: $baseline;
                }
            }
        }
        .footer-about-openedx1 {
            @include span-columns(4);
            float: right;
            text-align: right;
            .powered-by {
                float: right !important;
            }
            @media screen and (max-width: 768px) {
                @include fill-parent();
                p {
                    float: left;
                    margin-left: $baseline/2;
                }
            }
        }
    }
}

.edx-logo-all-white {
    background: $footer-edx-logo-white;
}

.content-wrapper {
    background: none;
}

.xmodule_display.xmodule_SequenceModule {
    .sequence-nav {
        display: none;
    }
    nav.sequence-bottom {
        margin: 20px 0 0 0 !important;
        height: 30px !important;
        width: 100% !important;
    }
    .sequence-nav-button {
        border: none !important;
        border-radius: 0 !important;
        background: #3E51B5;
        color: #fff;
        height: 44px;
        &:hover {
            background: #B2B9E1;
        }
        &:focus {
            box-shadow: none !important;
        }
    }
    .sequence-bottom {
        .sequence-nav-button {
            width: 100px;
            height: 30px;
        }
    }
}

button {
    text-shadow: none;
}

button:focus:not(:disabled) {
    box-shadow: 0;
}

.container {
    .course-wrapper {
        background: none !important;
        border: 0 !important;
        box-shadow: none !important;
    }
}
