@import '/edx/app/edxapp/edx-platform/node_modules/edx-pattern-library/node_modules/susy/sass/susy';
//index page
.ee-h1 {
    font-family: $h1-font-family;
    font-style: $h1-font-style;
    font-size: $h1-font-size;
}

.ee-h2 {
    font-family: $h2-font-family;
    font-size: $h2-font-size;
    font-weight: $h2-font-weight;
}

.ee-h3 {
    font-family: $h3-font-family;
    font-style: $h3-font-style;
    font-size: $h3-font-size;
}

.ee-h4 {
    font-family: $h4-font-family;
    font-size: $h4-font-size;
}

.ee-h5 {
    font-family: $h5-font-family;
    font-weight: $h5-font-weight;
    font-size: $h5-font-size;
}

.ee-h6 {
    font-family: $h6-font-family;
    font-weight: $h6-font-weight;
    font-size: $h6-font-size;
}

html {
    height: 100%;
    background: url("../images/course-search.jpg") no-repeat !important;
    background-size: 100% 100% !important;
    @include susy-media($bp-screen-lg,
    $susy) {
        height: auto;
        background: none;
    }
}

body {
    @include span(full) {
        background: url("../images/course-search.jpg") no-repeat !important;
        background-size: 100% 100% !important;
    }
}

header.global {
    border-bottom: none !important;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.3) !important;
    height: 94px !important;
}

.nav-global {
    margin-top: 42px !important;
    li {
        text-transform: capitalize !important;
        font-size: 16px !important;
        a {
            color: black !important;
        }
        &:hover {
            a {
                color: $ee-green !important;
            }
            border-bottom: 8px solid $ee-green !important;
        }
    }
}

.wrapper.wrapper-footer {
    background: $footer-bg;
    margin-top: 0 !important;
    border-top: none !important;
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
    #footer-openedx {
        .colophon1 {
            @include span(full) {
                text-align: center;
            }
            @include susy-media($bp-screen-md,
            $susy) {
                @include span(4 of 12 first);
                text-align: left;
            }
            @include susy-media($bp-screen-lg,
            $susy) {
                @include span(4 of 12 first);
                text-align: left;
            }
        }
        .nav-colophon {
            @include span(full) {
                text-align: center;
            }
            @include susy-media($bp-screen-md,
            $susy) {
                @include span(4 of 12 first);
                text-align: left;
            }
            @include susy-media($bp-screen-lg,
            $susy) {
                @include span(4 of 12 first);
                text-align: left;
            }
            .copyright {
                color: white !important;
                text-align: center;
            }
            ol {
                text-align: center;
                margin-bottom: 20px;
                li {
                    display: inline;
                    margin-right: 20px;
                    a {
                        color: white !important;
                    }
                }
            }
        }
        .footer-about-openedx1 {
            @include span(full) {
                text-align: center;
            }
            @include susy-media($bp-screen-md,
            $susy) {
                @include span(4 of 12 last);
                text-align: right;
            }
            @include susy-media($bp-screen-lg,
            $susy) {
                @include span(4 of 12 last);
                text-align: right;
            }
        }
    }
}

.edx-logo-all-white {
    background: $footer-edx-logo-white;
}

.content-wrapper {
    background: none;
}
