$bp-screen-sm:  320px !default;
$bp-screen-md:  768px !default;
$bp-screen-lg:  1024px !default;
$bp-screen-xl:  1280px !default;

// grid - dimensions
$grid-max-width:                rem(1170) !default; // max width grid will expand to
$grid-container-position:       center !default; // position the grid
$grid-column-count:             12 !default; // column count
$grid-column-width:             false !default;  // set to false for fluid
$grid-gutter-width:             (1/3) !default; // gutter width (based on calculated column width)
$grid-gutter-position:          after !default; // how/where to calculate gutters in general
$grid-manual-gutter-position:   inside !default;
$grid-debug-color:              rgba(203, 89, 141, 0.33) !default; // debug color



@import '/edx/app/edxapp/edx-platform/static/vendor/susy/susy';
