
$static-path: '..';

$bp-screen-sm:  320px !default;
$bp-screen-md:  768px !default;
$bp-screen-lg:  1024px !default;
$bp-screen-xl:  1280px !default;

// grid - dimensions
$grid-max-width:                rem(1170) !default; // max width grid will expand to
$grid-container-position:       center !default; // position the grid
$grid-column-count:             12 !default; // column count
$grid-column-width:             false !default;  // set to false for fluid
$grid-gutter-width:             (1/3) !default; // gutter width (based on calculated column width)
$grid-gutter-position:          after !default; // how/where to calculate gutters in general
$grid-manual-gutter-position:   inside !default;
$grid-debug-color:              rgba(203, 89, 141, 0.33) !default; // debug color


// EE edX redesign variables
// $h1-font-style: Georgia;
// $h1-font-size: em(80);
// $h2-font-style: Georgia;
// $h2-font-size: em(40);
// $h3-font-style: Georgia;
// $h3-font-size: em(30);
// $h4-font-style: Georgia;
// $h4-font-size: em(20);
// $h5-font-style: Georgia;
// $h5-font-size: em(18);


$homepage-bg-image: url('#{$static-path}/images/course-search.jpg');
$homepage-background: none;
$body-bg: none;
$footer-bg: #003535;
$footer-edx-logo-white: url('#{$static-path}/images/edx-openedx-logo-tag_KO.png');
$course-image-height: ($baseline*10);


@import '/edx/app/edxapp/edx-platform/node_modules/edx-pattern-library/node_modules/susy/sass/susy';
