// lms - views - homepage view
// ====================
// TO-DO: combine this with _home.scss as a cleanup story
$learn-more-horizontal-position: calc(50% - 100px); // calculate the left position for "LEARN MORE" content
.courses-container {
    @include outer-container;
    margin-bottom: ($baseline * 2);
    background: white;
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 50px;
    .courses {
        @include row();
        @include float(left);
        width: 100%;
        .ee-h3 {
            line-height: 2;
        }
        .courses-listing {
            @extend %ui-no-list;
            .courses-listing-item {
                margin: 0 0 ($baseline*1.5) 0;
                max-height: $course-card-height;
            }
        }
        .course {
            @include box-sizing(border-box);
            @include transition(all $tmg-f3 linear 0s);
            position: relative;
            border: none;
            box-shadow: none;
            background: $white;
            width: 100%;
            .course-image .cover-image {
                height: $course-image-height;
                overflow: hidden;
                // places the shadow on top of the course image while hovering over the course card
                &:before {
                    @include left(0);
                    @extend %ui-depth1;
                    position: absolute;
                    top: 0;
                    opacity: 0;
                    background: $black;
                    width: 100%;
                    height: $course-image-height;
                    content: '';
                    display: none;
                }
                img {
                    width: 100%;
                    height: inherit;
                }
                .learn-more {
                    @include left($learn-more-horizontal-position);
                    @include box-sizing(border-box);
                    @include line-height(28);
                    @extend %ui-depth2;
                    position: absolute;
                    top: ($baseline*2.75);
                    opacity: 0;
                    border: 3px solid $white;
                    border-radius: 3px;
                    padding: 0 $baseline;
                    width: ($baseline*10);
                    height: ($baseline*2.5);
                    text-align: center;
                    color: $white;
                }
            }
            .course-info {
                position: relative;
                height: auto;
                font-family: $sans-serif;
                .course-name {
                    margin: ($baseline*1.3) 0 $baseline;
                    span {
                        box-sizing: border-box;
                    }
                }
                .course-details {
                    @include outer-container;
                    a:first-of-type {
                        span {
                            box-sizing: border-box;
                        }
                    }
                    .course-overview-button {
                        font-size: 14px;
                        box-sizing: border-box;
                        padding: $baseline*0.5;
                        color: white;
                        background: $ee-green;
                        text-align: center;
                        cursor: pointer;
                        cursor: hand;
                        @include float(right);
                        &:hover {
                            background: $ee-green-lighter;
                        }
                    }
                    .course-title {
                        @include span-columns(12);
                        padding: 0;
                    }
                }
                .course-organization,
                .course-code,
                .course-date {
                    @extend %t-icon6;
                    color: $gray-d2;
                }
                .course-organization,
                .course-code,
                .course-title {
                    display: block;
                    text-transform: none;
                }
                .course-organization {
                    line-height: initial;
                    padding: 0;
                    @include float(left);
                    font-size: 12px;
                    font-weight: 600;
                }
                .course-code {
                    line-height: initial;
                    padding: 0;
                    @include float(left);
                    font-size: 12px;
                    font-weight: 600;
                }
                .course-title {
                    @extend %t-icon4;
                    margin: 0;
                    padding: 0;
                    height: auto;
                    color: $black;
                }
                .course-date {
                    line-height: initial;
                    padding: 0;
                    @include float(left);
                    font-size: 12px;
                    clear: left;
                }
            }
            // STATE: hover and focus
            &:hover,
            &:focus {
                background: $white;
                box-shadow: none;
            }
        }
    }
    .courses-more {
        @include margin-right(0);
        text-align: center;
        @include media($large-min-width) {
            @include margin-right($baseline*0.5);
            @include text-align(right);
        }
        .courses-more-cta {
            font-weight: $font-semibold;
            &:after {
                content: " ›";
            }
        }
    }
}


/* Set homepage specific media queries */

.home {
    .courses-container .courses .courses-listing .courses-listing-item {
        @include rtl() {
            $layout-direction: "RTL";
        }
        @include fill-parent();
        @include media($bp-medium) {
            @include span-columns(6);
            @include omega(2n);
        }
        @include media($bp-large) {
            @include span-columns(6);
            @include omega(2n);
        }
        @include media($bp-huge) {
            @include span-columns(4);
            @include omega(3n);
        }
    }
}
