header.course-profile {
    padding-top: 0 !important;
    background: none !important;
    border-bottom: none !important;
    box-shadow: none !important;
    margin-top: $baseline*2 !important;
    height: auto !important;
    .intro-inner-wrapper {
        border: none !important;
        box-shadow: none !important;
        max-width: 1300px !important;
        height: 500px !important;
        .intro {
            padding: 0 !important;
            display: block !important;
            .heading-group {
                padding: ($baseline*1.6) 0 0 ($baseline*2.5);
                border-bottom: none !important;
                margin-bottom: 0 !important;
            }
        }
        .media {
            padding: 0 !important;
            width: 100% !important;
            display: block !important;
            .hero {
                border: none !important;
            }
        }
    }
}

section.container {
    max-width: 1300px;
    margin: 40px auto !important;
    padding: 0px !important;
    .details {
        background: $white;
        box-sizing: border-box !important;
        .inner-wrapper {
            margin-right: $baseline * 2!important;
            padding-left: $baseline*2.5;
            &>section {
                margin: 40px 0;
                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    margin-bottom: 15px;
                }
                p + p {
                    margin-top: 0;
                }
            }
        }
    }
    .course-sidebar {
        background: $white;
    }
}

.course-sidebar>section {
    border: none !important;
    box-shadow: none !important;
}

.course-summary {
    @include outer-container;
    &>header {
        display: none;
    }
    .main-cta {
        @include fill-parent();
        @include pad(0 20px);
    }
    span.register {
        font-family: $source-sans-pro;
        font-size: 12px;
        line-height: 1.3;
        display: inline-block;
        margin-top: 10px;
    }
    a.register {
        margin: 0 auto;
        display: block;
        height: $baseline*2;
        background: $ee-grass-green;
        padding: 10px;
        text-align: center;
        color: $white;
        font-weight: 600;
        font-size: 40px;
        line-height: 1;
        font-family: $source-sans-pro;
        @media screen and (max-width: $bp-screen-lg) {
            font-size: 30px;
            line-height: 1.3;
        }
        &:hover {
            text-decoration: none;
            color: $white;
            background: $ee-grass-green-lighter;
        }
    }
    a.view-course-detail {
        margin: 0 auto;
        display: block;
        height: $baseline*2;
        background: $ee-blue;
        padding: 10px;
        text-align: center;
        color: $white;
        font-weight: 600;
        font-size: 40px;
        line-height: 1;
        font-family: $source-sans-pro;
        &:hover {
            text-decoration: none;
            color: $white;
            background: $ee-blue-lighter;
        }
    }
    .important-dates {
        i {
            display: none;
        }
        .important-dates-item {
            border-bottom: none !important;
            margin: 15px !important;
            padding: 0 !important;
            .important-dates-item-title {
                @include span-columns(4);
                text-align: right;
                line-height: 2.4;
                @include pad(0 10px 0 0);
                box-sizing: border-box;
            }
            .important-dates-item-text {
                @include span-columns(8);
                @include omega();
                font-weight: 400 !important;
            }
        }
    }
}

.course-staff {
    @include outer-container;
    h3 {
        @include fill-parent();
    }
    .teacher {
        p {
            font-size: 12px;
            overflow: auto;
        }
        margin-top: $baseline 0;
        box-sizing: border-box;
        @include span-columns(6);
        @include omega();
        @media screen and (min-width: $bp-screen-lg) {
            @include pad(0 ($baseline*2.5) 0 0);
        }
        @media screen and (max-width: $bp-screen-lg) {
            @include pad(0 ($baseline/2) 0 0);
        }
    }
}

.course-info .details .inner-wrapper .course-staff .teacher .teacher-image {
    height: auto;
    max-height: 130px;
    overflow: hidden;
    border: none;
    @include span-columns(3 of 6);
}
