<%! from django.utils.translation import ugettext as _ %>
<script type="text/template" id="thread-list-template">
    <div class="forum-nav-header">
        <button type="button" class="forum-nav-browse1" id="forum-nav-browse" aria-haspopup="true">
            ## There is no whitespace between these because the front-end JS code
            ## needs to precisely compute the available width for forum-nav-
            ## browse-current in order to do truncation of topic names.
            <span class="sr">${_("Discussion topics; currently listing: ")}</span>
            <span class="forum-nav-browse-current">${_("All Discussions")}</span>
            <span class="forum-nav-browse-drop-arrow change-icon" aria-hidden="true">
                <i class="fa fa-caret-right" aria-hidden="true"></i>
                <i class="fa fa-caret-down" aria-hidden="true" style="display: none;"></i>
            </span>
        </button>
        
        
    </div>
    <%include file="_filter_dropdown.html" />
    <div class="forum-nav-thread-list-wrapper" id="sort-filter-wrapper" tabindex="-1">
        <div class="forum-nav-refine-bar">
            <label class="forum-nav-filter-main">
                ## Translators: This labels a filter menu in forum navigation
                <span class="sr">${_("Filter:")}</span>
                <select class="forum-nav-filter-main-control">
                    ## Translators: This is a menu option for showing all forum threads unfiltered
                    <option value="all">${_("Show all")}</option>
                    ## Translators: This is a menu option for showing only unread forum threads
                    <option value="unread">${_("Unread")}</option>
                    ## Translators: This is a menu option for showing only unanswered forum
                    ## question threads
                    <option value="unanswered">${_("Unanswered")}</option>
                    %if flag_moderator:
                        ## Translators: This is a menu option for showing only forum threads flagged
                        ## for abuse
                        <option value="flagged">${_("Flagged")}</option>
                    %endif
                </select>
            </label>${"<% if (isCohorted && isPrivilegedUser) { %>"}<label class="forum-nav-filter-cohort">
                ## Translators: This labels a cohort menu in forum navigation
                <span class="sr">${_("Cohort:")}</span>
                <select class="forum-nav-filter-cohort-control">
                    <option value="">${_("in all cohorts")}</option>
                        %for c in cohorts:
                            <option value="${c['id']}">${c['name']}</option>
                        %endfor
                </select>
            </label>${"<% } %>"}<label class="forum-nav-sort">
                ## Translators: This labels a sort menu in forum navigation
                <span class="sr">${_("Sort:")}</span>
                <select class="forum-nav-sort-control">
                    ## Translators: This is a menu option for sorting forum threads
                    <option value="date">${_("by recent activity")}</option>
                    ## Translators: This is a menu option for sorting forum threads
                    <option value="comments">${_("by most activity")}</option>
                    ## Translators: This is a menu option for sorting forum threads
                    <option value="votes">${_("by most votes")}</option>
                </select>
            </label>
        </div>
        <form class="forum-nav-search">
            <div class="forum-nav-search-ff-position-fix">
                <label>
                    <span class="sr">${_("search for keywords")}</span>
                    <input class="forum-nav-search-input" id="forum-nav-search" type="text" placeholder = '${_("search for keywords")}'>
                    <span class="icon fa fa-search" aria-hidden="true"></span>
                </label>
            </div>
        </form>
        <div class="search-alerts"></div>
        <ul class="forum-nav-thread-list"></ul>
    </div>
</script>
<script type="text/javascript">
    // setTimeout(function() {
    //     var navSearch = $('.forum-nav-search');
    //     $('.discussion-body').on('click', function() {
    //             navSearch.css('display', 'block'); 
            
    //     });

    //     $('.forum-nav-browse, .forum-nav-browse-menu, .icon').on('click', function() {
    //         if ($('.forum-nav-browse-menu-wrapper:hidden').length == true){
    //             navSearch.css('display', 'none'); 
    //         } else {
    //             navSearch.css('display', 'block'); 
    //         }
    //     });
    // }, 200); 

     setTimeout(function() {
       $('.forum-nav-browse1').mouseenter(function(){
            $('.forum-nav-thread-list-wrapper').slideUp();
            $('.forum-nav-browse-menu-wrapper').slideDown();
            $('.fa-caret-down').css("display", "block");
            $('.fa-caret-right').css("display", "none");
        });

        $(".forum-nav-browse-menu-wrapper, .forum-nav-refine-bar").mouseleave(function(){
            $('.forum-nav-browse-menu-wrapper').slideUp();
            $('.forum-nav-thread-list-wrapper').slideDown();
            $('.fa-caret-down').css("display", "none");
            $('.fa-caret-right').css("display", "block");
        });

        $('.forum-nav').mouseleave(function(){
            $('.forum-nav-browse-menu-wrapper').slideUp();
            $('.forum-nav-thread-list-wrapper').slideDown();
            $('.fa-caret-down').css("display", "none");
            $('.fa-caret-right').css("display", "block");
        });
    }, 200); 

</script>


