// Override global input rules
.forum-nav-browse-filter {
    label {
        &:focus + span.icon.fa.fa-search {
            color: $ee-blue !important;
            position: absolute !important;
            right: 2px !important;
            font-size: 16px !important;
        }
    }
}

.forum-nav-browse-filter:focus {
    border-bottom: 2px solid #3E51B5 !important;
}

.forum-nav-browse-filter-input {
    padding: 5px 0 !important;
    &::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: $ee-blue-lighter;
    }
    &:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: $ee-blue-lighter;
        opacity: 1;
    }
    &::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: $ee-blue-lighter;
        opacity: 1;
    }
    &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $ee-blue-lighter;
    }
    &:focus::-webkit-input-placeholder {
        color: transparent;
    }
    &:focus:-moz-placeholder {
        color: transparent;
    }
    /* FF 4-18 */
    &:focus::-moz-placeholder {
        color: transparent;
    }
    /* FF 19+ */
    &:focus:-ms-input-placeholder {
        color: transparent;
    }
}
